@import "tailwindcss";
.bg {
    background-image: url("../img/Plant\ background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 60vh;
}
.bg1 {
    background-image: url("../img/gift\ background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 70vh;
}

.bg2 {
    display: flex;
    background-image: url("../img/about\ us.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 80vh; 
    padding: 200px;
    text-align: end;
    align-items: end;
}
.break {
    border: 0;
    height: 1px;
    margin: 2rem 0;
}
body {
    font-family: 'Inter', sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
